Ex 1 : Check the lenght of the string "My name is python"

In [ ]:
name = 'My name is python'
print(len(name))

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [2]:
name = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
new_name = name.lower()
print(new_name.count("python"))

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [ ]:
list_1 = ["apple","banana","cherry"]
list_2 =["apple","banana","cherry","apple","apple"]
new_list = list_1+list_2
print(new_list)
print(len(new_list))

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'apple']
8



```
# This is formatted as code
```

Ex 4: Create a dictionary for the following table:

| Key | Value | 
| --- | --- | 
| Name | Age |
| Myo | 32 |
| Thida | 64 |

In [8]:
dict = {'Name': 'Age', 'Myo': 32, 'Thida': 64}
print(dict.get('Name'))

Age

Ex 5: Combine two sets and print the combined set and its length. 

1.   List item
2.   List item


set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [4]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set)
print(len(new_set))

{'age', 'Name', 'Education', 'Height', 'status'}
5